.NORMALColor{
    background-color: #929ba3;
}

.FIREColor {
    background-color: #ff9e54;
}

.WATERColor {
    background-color: #4f91d7;
}

.GRASSColor {
    background-color: #63bd5a;
}

.ELECTRICColor {
    background-color: #f4d339;
}

.ICEColor {
    background-color: #74cfc1;
}

.FIGHTINGColor {
    background-color: #cf3f6b;
}

.POISONColor {
    background-color: #ac6bc9;
}

.GROUNDColor {
    background-color: #da7943;
}

.FLYINGColor {
    background-color: #90abdf;
}

.PSYCHICColor {
    background-color: #fa727a;
}

.BUGColor {
    background-color: #92c22b;
}

.ROCKColor {
    background-color: #c6b88d;
}

.GHOSTColor {
    background-color: #5169ae;
}

.DARKColor {
    background-color: #5a5365;
}

.DRAGONColor {
    background-color: #036dc4;
}

.STEELColor {
    background-color: #5a8fa3;
}

.FAIRYColor {
    background-color: #ed90e7;
}

body {
    background-color: #ffffff;
    font-family: "Montserrat Light", serif;
}

h1 {
    font-family: "Montserrat SemiBold", serif;
    font-size: xxx-large;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 750px;
    max-width: 1200px;
    border: 15px solid black;
    border-radius: 30px;
    box-shadow: 5px 10px 0 5px #fd1c1d, 10px 15px 0 15px black;
    margin: 40px;
    background-color: white;
}

.top-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    column-gap: 20px;
    align-items: center;
    margin: 50px 10px 0 10px;
    border: 5px solid black;
    border-radius: 30px;
    padding: 25px;
    background-color: #fd1c1d;
    max-width: 800px;
    width: 95%;
    flex-wrap: wrap;
}

.page-name {
    margin-top: 15px;
    text-align: center;
}

.btn-menu {
    border-radius: 20px;
    border: 3px solid black;
    background-color: white;
    color: black;
    font-size: large;
    white-space: nowrap;
    font-max-size: large;
    font-min-size: small;
}

.btn-menu:hover {
    background-color: black;
    color: white;
    border: 3px solid white;
}

.btn-menu-disabled {
    background-color: #fd1c1d;
    color: white;
    border: 3px solid white;
    pointer-events: none;
}

