.team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 750px;
    margin-top: 50px;
    margin-left: 50px;
}

.team-row {
    display: flex;
    flex-direction: row;
    gap: 10%;
    width: 100%;
    height: 260px;
}

.team-pokeball {
    position: relative;
    width: 25%;
}

@keyframes pokeballBottomOpen {
    0% {margin-top: 39%}
    100% {margin-top: 76%}
}

@keyframes pokeballBottomClose {
    0% {margin-top: 76%}
    100% {margin-top: 39%}
}

@keyframes pokeballPokemonOpen {
    0% {margin-top: 0%; z-index: 0; clip-path: circle(70px at center)}
    80% {margin-top: 16%; z-index: 0;}
    81% {margin-top: 16%; z-index: 10; scale: 1}
    100% {margin-top: 20%; z-index: 10; scale: 1.5; clip-path: circle(200px at center)}
}

@keyframes pokeballPokemonClose {
    0% {margin-top: 20%; z-index: 10; scale: 1.5; clip-path: circle(200px at center)}
    19% {margin-top: 16%; z-index: 10; scale: 1}
    20% {margin-top: 16%; z-index: 0}
    100% {margin-top: 0%; clip-path: circle(70px at center)}
}

.animatePokeballBottomClose {
    animation: pokeballBottomClose;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.animatePokeballGrowth {
    animation: pokeballGetBig;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.animatePokeballBottomOpen {
    animation: pokeballBottomOpen;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.animatePokeballPokemonOpen {
    animation: pokeballPokemonOpen;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.animatePokeballPokemonClose {
    animation: pokeballPokemonClose;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.poke-col {
    position: relative;
}

.pkb-top {
    width: 100%;
    position: absolute;
    z-index: 1;
}

.pkb-bottom {
    width: 100%;
    margin-top: 39%;
    position: absolute;
    z-index: 1;
}

.team-pokeball:hover .pkb-bottom {
    filter: brightness(200%);
}

.team-pokeball:hover .pkb-top {
    filter: brightness(200%);
}

.pkb-disabled {
    pointer-events: none;
    filter: grayscale(100%);
}

.team-pokeball:hover .pkb-disabled {
    pointer-events: none;
    filter: grayscale(100%);
}

.pokemon {
    width: 100%;
    padding: 10%;
    position: absolute;
    z-index: 0;
    clip-path: circle(70px at center);
}